    
/* body {
 background-color:lightgray;
} */

h1, h3, p{
  text-align:center;
}

.chart-container {
  width:50%;
  height:50%;
  border: 1px dotted silver;
}

#scatterplot-stats {
  text-align: center;
}

.axis {
  fill: none;
  stroke: #3A3A3A;
}

.axis text {
  fill: #000;
  stroke: none;
}

circle {
  stroke: red;
}

.reader {
  stroke: aquamarine;
}

.node circle:hover {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

#bg{

  background-image: url(LDMS\ map2.svg);
  background-size: cover;
  margin: 60px;
  width: 100%;
  height: 100%;
}
.new_cicle{
fill: red
}

.new_reader{
  fill: blue
}
  
  
